:root {
  --lblue-5: #209cff;
  --dblue-5: #0267b9;
  --morange-5: #ff874b;
  --lorange-5: #fcaf15;
  --mgreen-5: #47d382;
  --lgreen: #96d34f;
  --error: #ff4c5c;
  --warning: #ff7b3b;
  --success: #34be4a;
  --notofication: #0075d3;
  --black: #000000;
  --white: #ffffff;
  --nblack-1: #f5f5f5;
  --nblack-2: #efefef;
  --nblack-3: #e5e5e5;
  --nblack-4: #cccccc;
  --nblack-5: #a8a8a8;
  --nblack-6: #999999;
  --nblack-7: #848484;
  --nblack-8: #666666;
  --nblack-9: #4c4c4c;
  --nblack-10: #333333;
  --nblack-11: #1e1e1e;
  --nblack-12: #0c0c0c;
  --gradientblue: linear-gradient(to right, #209cff 0%, #0267b9 100%);
  --bblack-1: #e5e7e9;
  --bblack-2: #ccd0d3;
  --bblack-3: #b3b8bd;
  --bblack-4: #9aa1a6;
  --bblack-5: #818991;
  --bblack-6: #66727c;
  --bblack-7: #4f5a65;
  --bblack-8: #35424f;
  --bblack-9: #1d2b39;
  --bblack-10: #041424;
  --lblue-5-10: #e9f5ff;
  --lblue-5-15: #def0ff;
  --spring-sakura: #f99b96;
  --spring-orange: #fcaf15;
  --spring-gn: #93cc67;
  --spring-yw: #eee691;
  --shadow-appbar: 0 0 8px rgba(0, 0, 0, 0.3);
  --cardshadow: 1px 1px 6px rgba(0, 0, 0, 0.2);
  --dialog: 1px 1px 24px rgba(0, 0, 0, 0.04);
}

@mixin glass() {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    -135deg,
    rgba(255, 255, 255, 0.1),
    transparent 40%
  );

  pointer-events: none;
}

body {
  font-family: "PingFang TC";
  color: var(--black);
  background-color: #c9dfac;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 17px;
}
body {
  font-size: 1rem;
  line-height: 1.6;
  font-family:
    "PingFang TC", "SF Pro TC", "SF Pro Text", "Microsoft JhengHei",
    "Helvetica Neue", "Noto Sans CJK TC", Helvetica, Arial, sans-serif;
  color: #333;
  font-weight: 300;
}
@media screen and (min-width: 768px) {
  html {
    font-size: 20px;
  }
  header {
    max-width: 1142px;
    margin: 0 auto;
    font-size: 0.8rem;
    -webkit-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    transition: all linear 0.3s;
  }
}

header nav {
  height: 80px;
}

img {
  max-width: 100%;
}

.py-2 {
  padding-top: 12px !important;
  padding-bottom: 12px !important;
}

.px-4 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.ml-3_5 {
  margin-left: 20px !important;
}

.mb-2 {
  margin-bottom: 12px !important;
}

.mb-3_5 {
  margin-bottom: 20px;
}

.mb-4_5 {
  margin-bottom: 28px;
}

button {
  background-color: transparent;
  border: 0;
  outline: none;
}

p {
  margin: 0;
}

.container2 {
  margin: 0;
  width: 100%;
  overflow: hidden;
  @media screen and (min-width: 768px) {
    padding-top: 107px;
  }
}

.container-mobile {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
}

.inner-page {
  section#header {
    max-width: 768px;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .footer {
    max-width: 768px;
    width: 100%;
    margin: 0 auto;
  }
}

.pic-cover {
  position: relative;
  &_img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
  }
}

.logo-section {
  h1 {
    font-size: 20px;
    font-weight: 500;
    margin: 0;
    padding-left: 16px;
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 1px;
      height: 32px;
      background-color: var(--black);
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @media screen and (max-width: 767px) {
    .logo {
      margin-right: 12px !important;
    }
    h1 {
      font-size: 16px;
      padding-left: 12px;
      &::before {
        height: 24px;
      }
    }
  }
}

section#footer {
  padding-top: 0;
}
section#footer hr {
  background: transparent;
  border: none;
  border-top: 1px solid #333;
  margin-top: 0;
  height: 1px;
  opacity: 0.2;
}
section#footer .footer-site-links {
  position: relative;
}
section#footer .footer-site-links .misc-links,
section.footer .footer-site-links .miniature {
  text-align: center;
}
section#footer.no-footer-logo .footer-links-copyright {
  display: block;
}
section#footer.no-footer-logo .footer-site-links {
  justify-content: center;
}
section#footer.no-footer-logo .site-links-copyright {
  align-items: center;
}
section#footer.no-footer-logo .footer-scroll-top {
  position: absolute;
  right: 10px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 36px;
  user-select: none;
  cursor: pointer;
  z-index: 10;
}
@media screen and (max-width: 767px) {
  section.footer .official-links a {
    width: auto;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
  }
  section#footer .footer-site-links .misc-links,
  section#footer .footer-site-links .miniature {
    text-align: center;
    font-size: 0.75rem;
  }
  section#footer .footer-site-links .misc-links a {
    white-space: nowrap;
    margin-right: 0.3rem;
    padding-right: 0.3rem;
  }
  section#footer.no-footer-logo .footer-site-links {
    width: auto;
    justify-content: space-between;
    display: inline;
  }
}

.btn {
  border-radius: 100px;
  font-size: 24px;
  font-weight: 500;
  width: fit-content;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.32);
  color: var(--white) !important;
  padding: 0;
  backdrop-filter: blur(5px);
  border: 0 !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 100px;
  padding: 12px;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1.5px;
    border-radius: inherit;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.4) 0%,
      transparent 100%
    );
    -webkit-mask:
      linear-gradient(#fff 0 0) content-box,
      linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
  }
  &-orange {
    background-color: rgba(255, 135, 77, 0.8);
  }
  &-green {
    background-color: rgba(147, 204, 103, 0.8);
  }
  &-green-deeper {
    background-color: rgba(116, 192, 57, 0.8);
  }
  &-icon {
    width: 28px;
    height: 28px;
    padding: 0;
    background-color: transparent;
  }
  &__text {
    color: var(--white);
  }
}

.point {
  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 16px;
    border-radius: 12px;
    gap: 12px;
    color: var(--white);
    background: radial-gradient(rgba(116, 229, 30, 0.3), rgba(60, 139, 0, 0.3));
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    position: relative;
    z-index: 0;
    overflow: hidden;
    margin-bottom: 4px;
    > img {
      width: 28px;
    }
    > p {
      font-size: 16px;
      font-weight: 500;
      color: #fff !important;
      .num {
        font-size: 20px;
        margin-right: 8px;
      }
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: rgba(122, 173, 83, 0.6);
      z-index: -1;
    }
    &::after {
      @include glass();
    }
  }
  &__text {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
  }
}

.sec {
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(20px);
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);
  padding: 20px 12px;
  margin-bottom: 32px;
  .sec {
    box-shadow: none;
    background-color: transparent;
    padding: 20px;
  }
  &::before {
    @include glass();
  }
  &-title {
    position: relative;
    width: fit-content;
    margin: 0 auto 20px;
    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: 500;
      filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.15));
      text-align: center;
      &.text {
        &-fill {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
        }
        &-border {
          color: transparent;
          -webkit-text-stroke: 4px #fff;
        }
      }
    }
    .btn-icon {
      position: absolute;
      left: calc(100% + 8px);
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 24px;
  .highlight {
    color: var(--error);
  }
  &.sm {
    font-size: 15px;
  }
}

.modal {
  &-dialog {
    padding: 100px 20px 0;
    margin: 0;
  }
  &-content {
    padding: 20px 24px;
    border-radius: 16px;
    border: 0;
  }
  &-body {
    position: static;
    padding: 0;
    h2 {
      text-align: center;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 4px;
      text-align: center;
    }
    p {
      font-size: 15px;
      margin: 0;
      padding: 8px 0;
      font-weight: normal;
    }
  }
  .btn-close {
    background-image: none;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
  }
  &-btns {
    padding-top: 12px;
    .btn {
      width: 100%;
      margin-top: 12px;
      font-size: 16px;
      padding: 8px;
    }
  }
}

.intro {
  padding: 20px 12px;
  border: 2px solid #ff874d;
  border-radius: 20px;
  background-color: rgba(238, 230, 145, 0.6);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 32px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: flex;
  font: 12px;
  p {
    margin: 0;
    width: calc(100% - 40px);
  }
  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    top: 0;
    left: 0;
    z-index: -1;
  }
}

.cta {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 20px 0;
  z-index: 10;
  .row {
    margin-left: -6px;
    margin-right: -6px;
    > div {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  .btn {
    width: 100%;
  }
}

.kv {
  padding: 80px 0 30px;
  .container {
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
  }
  &-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &-title {
    width: calc(100% - 34px);
    margin: 0 auto 24px;
    display: block;
  }
  &-wrapper {
    // margin-bottom: 36px;
    padding-bottom: 59.73vw;
    .row {
      margin-left: -6px;
      margin-right: -6px;
      > div {
        padding-left: 6px;
        padding-right: 6px;
        &:nth-child(2) {
          margin-top: 10px;
        }
        &:nth-child(1) {
          margin-top: 20px;
        }
      }
    }
  }
  &-item {
    border-radius: 12px;
    border: 2.5px solid rgba(255, 140, 207, 1);
    box-shadow: 0 0 6px rgba(255, 140, 207, 1);
    &__inner {
      padding: 12px 4px;
      background-color: rgba(255, 255, 255, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.4);
      backdrop-filter: blur(10px);
      border-radius: 9.5px;
      box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);
    }
    &__title {
      width: 45px;
      display: block;
      margin: 0 auto 12px;
    }
    &__pic {
      width: 76%;
      padding-bottom: calc(76% * 0.8);
      margin: 0 auto 12px;
    }
    &__badge {
      position: absolute;
      width: 45%;
      top: -15%;
      left: -16%;
    }
    &__text {
      text-align: center;
      font-size: 9px;
      font-weight: 600;
      position: relative;
      p {
        margin: 0;
        filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.2));
        &.text {
          &-fill {
            color: var(--nblack-8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
          &-border {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
          }
        }
      }
    }
  }
  @media screen and (min-width: 768px) {
    padding-top: 48px;
    padding-bottom: 80px;
    &-bg {
      top: 107px;
    }
  }
}

.lottery {
  &-title {
    width: 83%;
    margin: 0 auto 32px;
    display: block;
  }
  &-task {
    position: relative;
    &__content {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .btn {
        width: 100%;
      }
    }
    .sec {
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }
  &-dec {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    transform: translateY(65%);
    z-index: 3;
    pointer-events: none;
  }
  &-wrapper {
    &.task,
    &.wrong {
      display: none;
    }
    &.init {
      display: block;
      img {
        width: calc(100% - 24px);
        margin: 0 auto 20px;
        display: block;
      }
      button {
        width: 100%;
      }
    }
    &.wrong {
      button {
        width: 100%;
      }
    }
  }
}

.prize {
  &-title {
    position: relative;
    width: fit-content;
    margin: 0 auto 20px;
    .sec-title {
      width: fit-content;
    }
    .btn-info {
      position: absolute;
      top: 50%;
      left: calc(100% + 8px);
      transform: translateY(-50%);
    }
  }
  .sec {
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .row {
    margin-left: -10px;
    margin-right: -10px;
    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
  &-item {
    &__pic {
      width: 85%;
      padding-bottom: calc(85% * 0.83);
      margin: 0 auto 12px;
    }
    &__text {
      text-align: center;
      font-size: 14px;
      font-weight: 500;
      position: relative;
      p {
        margin: 0;
        filter: drop-shadow(0 2px 12px rgba(0, 0, 0, 0.2));
        &.text {
          &-fill {
            color: var(--nblack-8);
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
          }
          &-border {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
          }
        }
      }
    }
    &__num {
      position: absolute;
      padding: 2px 6px;
      border-radius: 100px;
      background-color: var(--warning);
      font-size: 10px;
      top: -8px;
      right: -8px;
      color: var(--white);
      font-weight: 500;
    }
  }
}

.lucky-bag {
  position: relative;
  &__bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &__title {
    width: 100%;
    margin-bottom: 20px;
  }
  .nav-tabs {
    margin-bottom: 20px;
    border: 0;
    .nav-item {
      width: 50%;
      &:first-child {
        .nav-link {
          border-radius: 100px 0 0 100px;
        }
      }
      &:last-child {
        .nav-link {
          border-radius: 0 100px 100px 0;
        }
      }
    }
    .nav-link {
      width: 100%;
      padding: 16px 32px 16px 28px;
      font-size: 24px;
      color: var(--white);
      position: relative;
      z-index: 0;
      overflow: hidden;
      background-color: rgba(234, 192, 173, 0.8);
      border: 0;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16);
      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.2);
      }
      &::before {
        content: "";
        position: absolute;
        inset: 0;
        padding: 1.5px;
        border-radius: inherit;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.4) 0%,
          transparent 100%
        );
        -webkit-mask:
          linear-gradient(#fff 0 0) content-box,
          linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        opacity: 0;
      }
      &.active {
        background-color: rgba(255, 135, 77, 0.8);
        &::before {
          opacity: 1;
        }
      }
    }
  }
  .tab-content {
    padding-bottom: 20px;
  }
}

.new-task {
  padding-bottom: 20px;
  margin-bottom: 20px;
  .row {
    margin-left: -6px;
    margin-right: -6px;
    > div {
      padding-left: 6px;
      padding-right: 6px;
    }
  }
  &-intro {
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 12px;
    margin-top: 24px;
    margin-bottom: 0;
    &__title {
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #ebeab1;
      font-weight: 500;
      font-size: 16px;
      width: 48px;
      text-align: center;
    }
    &__text {
      width: calc(100% - 48px - 12px);
      font-size: 15px;
      font-weight: 400;
    }
  }
}

.new-cta {
  position: relative;
  margin-bottom: 20px;
  .btn {
    width: 100%;
  }
  &__comment {
    position: absolute;
    width: 83px;
    right: 0;
    bottom: 28px;
  }
}

.increase {
  margin: 0;
  background-image: url(../img/increase-bg.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 4px solid #ff8ccf;
  box-shadow:
    0 0 10px 0 #ff8ccf,
    0 2px 20px 0 rgba(0, 0, 0, 0.04);
  background-blend-mode: plus-lighter, plus-lighter, normal;

  &-pic {
    width: 75%;
    display: block;
    margin: 0 auto 24px;
  }
  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 24px;
    gap: 8px;
    > img {
      width: 19px;
    }
    .sec-title {
      margin: 0;
    }
  }
  &__text {
    position: relative;
    // &::before {
    //   content: "";
    //   position: absolute;
    //   inset: 0;
    //   z-index: 0;
    //   overflow: hidden;
    //   border-radius: 30px;
    //   -webkit-box-shadow:
    //     inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    //     inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    //   box-shadow:
    //     inset 2px 2px 0px -2px rgba(255, 255, 255, 0.7),
    //     inset 0 0 3px 1px rgba(255, 255, 255, 0.7);
    // }
    &::before {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      inset: 0;
      border-radius: 30px;
      // -webkit-backdrop-filter: blur(20px);
      // backdrop-filter: blur(20px);
      -webkit-filter: url(#container-glass);
      filter: url(#container-glass);
      overflow: hidden;
      isolation: isolate;
    }
  }
  .text {
    background: linear-gradient(
      162deg,
      rgba(255, 135, 77, 0.05) 0%,
      rgba(240, 255, 202, 0.04) 42.51%,
      rgba(248, 194, 139, 0.05) 87.54%
    );
    background-blend-mode: plus-lighter;
  }
}

.plan {
  position: relative;
  margin-bottom: 24px;
  &-tag {
    position: absolute;
    width: 102px;
    height: 105px;
    background-image: url(../img/tag.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: -14px;
    left: -10px;
    &-text {
      transform: translate(-50%, -50%) rotate(-48deg);
      position: absolute;
      top: 36%;
      left: 38.5%;
      white-space: nowrap;
      p {
        font-size: 13px;
        font-weight: 600;
        &.text {
          &-fill {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            color: var(--error);
          }
          &-border {
            color: transparent;
            -webkit-text-stroke: 3px #fff;
          }
        }
      }
      &.lg {
        p {
          font-size: 18px;
        }
      }
    }
  }
  &__wrapper {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 12px;
    > img {
      width: 80px;
    }
  }
  &__info {
    width: calc(100% - 80px - 12px);
    h3 {
      margin-bottom: 12px;
      padding: 4px 12px;
      border-radius: 100px;
      background-color: #eceab1;
      font-size: 16px;
      font-weight: 500;
      width: fit-content;
    }
    p {
      margin: 0;
      font-size: 15px;
      font-weight: 400;
    }
  }
  .btn {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
  }
}

.give {
  padding-top: 20px;
}

.give-point {
  padding: 20px 12px;
  border: 2px solid #ff874d;
  border-radius: 20px;
  background-color: #e4e9af;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  .point {
    width: 130px;
    &__content {
      padding: 8px 12px;
    }
  }
  .text {
    width: calc(100% - 130px - 12px);
    margin: 0;
    text-align: left;
  }
  &.glass {
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.4);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.04);
  }
}

.renew-event {
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  .btn-info {
    top: 12px;
    right: 12px;
    position: absolute;
  }
}

.top-up {
  position: relative;
  z-index: 0;
  padding-bottom: 20px;
  &-title {
    width: 65%;
    margin: 0 auto 24px;
    display: block;
  }
  &__bg {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
  }
}
